@tailwind base;
@tailwind components;
@tailwind utilities;


/*==================================================*/
/*==================================================*/
/*==================================================*/
/*This section is for the defalut markdown styles*/

/* Tailwind straps everything from the markdown styles so we need to write our own for the markdown" */


#content a {
	color: #4183c4;
	text-decoration: none;
	}

#content a:hover {
	text-decoration: underline;
	}

p, blockquote, ul, ol, dl, table, pre {
	margin: 15px 0;
	}

ul, ol {
	padding-left: 30px;
	}

#content h1 {
	border-bottom: 1px solid #ddd;
	color: #000;
	font-size: 2.5em;
	}

#content h2 {
	border-bottom: 1px solid #eee;
	color: #000;
	font-size: 2.0em;
	}

#content h3 {
	font-size: 1.5em;
	}

#content h4 {
	font-size: 1.2em;
	}

h5 {
	font-size: 1.0em;
	}

h6 {
	color: #777;
	font-size: 1.0em;
	}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.7;
	margin: 1em 0 15px 0;
	}

h1 + p, h2 + p, h3 + p {
	margin-top: 10px;
	}
	
img {
	max-width: 100%;
	}

code,
pre {
	background-color: #F8F8F8;
	border-radius: 3px;
	border: 1px solid #DDD;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	font-size: 12px;
	margin: 0 2px;
	padding: 0 5px;
	white-space: pre;
	}

pre code {
	border: none;
	margin: 0;
	padding: 0;
	white-space: pre;
	}

/*==================================================*/
/*==================================================*/
/*==================================================*/